# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore Latex build artifacts
*.aux
*.log
*.out
*.prl
*.fdb_latexmk
*.fls
*.synctex.gz

# Ignore vim temporary and swap files
*.swp
*.swo
*~
